<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BattleSheep - fleet placement</title>

    <link type="text/css" rel="stylesheet" href="/css/fleetStyle.css">

    <style>

    </style>

</head>
<body>
<h1>Best shooting frontend ever!</h1>


<div class="c">
    <div id="myBoard" class="board col-sm-6">

    </div>

    <div id="opponentBoard" class="board col-sm-6">

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/board.js"></script>
</body>
</html>
