<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BattleSheep - Game configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Configure Game</h1>
<form action="#" th:action="@{/gameconfig}" th:object="${configuration}" method="post">
    <p>Name: <input type="text" th:field="*{gameName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>